<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
  </div>
</p-toolbar>

<!-- <p-table [value]="productos" dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-producto>
    <tr>
      <td>{{producto.codigo}}</td>
      <td>{{producto.nombre}}</td>
      <td>{{producto.descripcion}}</td>
      <td>{{producto.precio}}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProducto(producto)"></button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteProducto(producto)"></button>
      </td>
    </tr>
  </ng-template>
</p-table> -->

<p-table [value]="productos" [tableStyle]="{'min-width': '60rem'}">
  <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
          Products
          <p-button icon="pi pi-refresh" (click)="obtenerProductos()"></p-button>
      </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Image</th>
          <th>Price</th>
          <th>Category</th>
          <th>Reviews</th>
          <th>Status</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{product.nombre}}</td>
          <td><img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.imagen" [alt]="product.nombre" width="100" class="shadow-4" /></td>
          <td>{{product.precio | currency:'USD'}}</td>
          <td>{{product.categoria}}</td>
          <td><p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false" /></td>
          <td><p-tag [value]="product.estadoInventario" [severity]="getSeverity(product.estadoInventario)" /></td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
          In total there are {{productos ? productos.length : 0}} products.
      </div>
  </ng-template>
</p-table>



<p-dialog header="Detalles del Producto" [(visible)]="productoDialog" [modal]="true" [style]="{width: '50vw'}" [closable]="false">
  <form [formGroup]="productoForm" (ngSubmit)="saveProduct()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="codigo">Codigo</label>
        <input id="codigo" type="text" pInputText formControlName="codigo">
      </div>
      <div class="p-field">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" pInputText formControlName="nombre">
      </div>
      <div class="p-field">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" pInputTextarea formControlName="descripcion"></textarea>
      </div>
      <div class="p-field">
        <label for="precio">Precio</label>
        <input id="precio" type="number" pInputText formControlName="precio">
      </div>
      <div class="p-field">
        <label for="imagen">Imagen (URL)</label>
        <input id="imagen" type="text" pInputText formControlName="imagen">
      </div>
      <div class="p-field">
        <label for="categoria">Categoría</label>
        <input id="categoria" type="text" pInputText formControlName="categoria">
      </div>
      <div class="p-field">
        <label for="cantidad">Cantidad</label>
        <input id="cantidad" type="number" pInputText formControlName="cantidad">
      </div>
      <div class="p-field">
        <label for="estadoInventario">Estado de Inventario</label>
        <input id="estadoInventario" type="text" pInputText formControlName="estadoInventario">
      </div>
      <div class="p-field">
        <label for="rating">Rating</label>
        <input id="rating" type="number" pInputText formControlName="rating" min="0" max="5">
      </div>
    </div>
    <p-footer>
      <p-button label="Cancelar" icon="pi pi-times" (click)="hideDialog()" class="p-button-text"></p-button>
      <!-- <p-button label="Guardar" icon="pi pi-check" type="submit" [disabled]="productoForm.invalid"></p-button> -->
      <p-button label="Guardar" icon="pi pi-check" type="submit"></p-button>
    </p-footer>
  </form>
</p-dialog>

<!-- Diálogo para Editar Producto -->
<!-- <p-dialog header="Editar Producto" [(visible)]="productoDialogEdit" [modal]="true" [style]="{width: '50vw'}" [closable]="false">
  <form [formGroup]="productoFormedit" (ngSubmit)="updateProducto()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="codigo">Código</label>
        <input id="codigo" type="text" pInputText formControlName="codigo"/>
      </div>
      <div class="p-field">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" pInputText formControlName="nombre"/>
      </div>
      <div class="p-field">
        <label for="descripcion">Descripción</label>
        <input id="descripcion" type="text" pInputText formControlName="descripcion"/>
      </div>
      <div class="p-field">
        <label for="precio">Precio</label>
        <input id="precio" type="number" pInputText formControlName="precio"/>
      </div>
   
    </div>
    <div class="p-dialog-footer">
      <button type="button" pButton label="Cancelar" icon="pi pi-times" (click)="hideDialogEdit()"></button>
      <button type="submit" pButton label="Editar" icon="pi pi-check"></button>
    </div>
  </form>
</p-dialog> -->